/*
 *    Style sheet for Jeff Yoshimi website
 *   Based originally on www.prowebdesign.ro, and adapted with help from Lam Nguyen
 *
 *    - To get new versions of fonts they must be downloaded
 */


/* Main elements; typography */

body {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.5em;
    color: #7D7D7D;
}
@font-face {
    font-family: 'Champagne';
    src: url('font/champagne_and_limousines.eot');
    src: url('font/champagne_and_limousines.eot?#iefix') format('embedded-opentype'), url('font/champagne_and_limousines.svg#Champagne & Limousines') format('svg'), url('font/champagne_and_limousines.woff') format('woff'), url('font/champagne_and_limousines.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    src: url('font/Oswald-Bold.otf') format('truetype');
    src: url('font/Oswald-Light.otf') format('truetype');
    src: url('font/Oswald-Regular.otf') format('truetype');
    src: url('font/Oswald-Stencil.otf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf') format('truetype');
    src: url('font/Roboto-Light.ttf') format('truetype');
    src: url('font/Roboto-Thin.ttf') format('truetype');
}

#main {
    max-width: 1280px;
}

h1 {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 400%;
    color: #317BAC;
    text-align: center;
}
menutext {
    font-family: 'Roboto';
    font-weight: lighter;
    /*font-size: 200%;*/
    color: #317BAC;
    /*padding: 50px;*/
    /*line-height: 150%;*/
}
.menu_grid {
    width: 21.7%;
    margin-left: 1.7%;
    margin-right: 1.7%;
    float: left;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

hr {
    clear:both;
    /* To solve problem of hr's looking funny on some systems.  See Problem: http://www.quirksmode.org/css/clearing.html
        Solution src:  http://en.blog.improveit.com.br/articles/2008/09/27/margins-on-the-hr-tag-a-case-solved */}

.jy_header {
    text-align: left;
    font-weight: normal;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.25em;
}
.jy_sub_header {
    font-family: 'Oswald';
    font-weight: lighter;
}
.jy_header, jy_sub_header {
    font-family: 'Oswald';
    color: #317BAC;
    line-height: 110%;
}

h2, h3, h4, h5, h6 {
    font-size: 2em;
    font-weight: normal;
    font-family: 'Roboto';
    line-height: 1.5em;
    margin: .45em 0;
    padding: 0;
}

/* links */
a, a:visited, a:active, a:hover {
    color: #317BAC;
    text-decoration: underline;
    font-weight:bold;
}
/* class for modifying anchors in menutext */
.nounderline, .nounderline:hover, .nounderline:active, .nounderline:visited {
    text-decoration: none;
}

/*a:hover{ text-decoration:none;}*/

/* Box sizing. Awesome thing. Read about it here: http://www.w3schools.com/cssref/css3_pr_box-sizing.asp */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* structure */

header {
    padding: 15px 0;
}

aside {
    margin: 40px 0;
}
p {
    margin: 0 0 1.5em;
    /** Body text is set in body, not here. */
}

#content {
    margin: 40px 0;
}

.wrapper {
    width: 92%;
    margin: 0 auto;
}


/* RESPONSIVE IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/*colors and backgrounds*/

body {
    background: #FFFFFF;
    /* Blue. color:#317BAC; */
}
h1, h2, h3, h4, h5, h6 {
    /*color:#333; */
}
footer {
    background: #333;
    color: #ccc;
}
footer h1, footer h2, footer h3, footer h4 {
    color: #CCC;
    margin-bottom: 10px;
}
footer ul {
    margin: 0 0 0 8%;
}

h1.mainTitle {
    margin-bottom: .1em;
}
.icons {
    display: flex;
    justify-content: center;
}
.icons > a > img {
    width: 27px;
}
.icons > a:not(:last-child) {
    margin-right: 1em;
}

.research_topic {
    display: flex;
    flex-direction: column;
    column-gap: 0.5em;
    margin-bottom: 1em;
    align-items: center;
}

.research_topic p {
    margin: 0;
}

.research_description {
    flex: 4 1 0;
}

.research_images {
    flex: 2 1 0;
}

.research_images img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo > a {
    display: contents;
}

.logo img {
    width: 30%;
}


#simbrain_container {
    position: relative;
    width: 400px;
    margin: auto;
}

#simbrain_web {
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

#simbrain_container:hover #simbrain_controls {
    display: flex;
}

#simbrain_controls {
    position: absolute;
    bottom: 0;
    right: -1em;
    display: none;
    align-items: center;
    column-gap: 0.25em;
}

.simbrain_button {
    background: rgb(239, 239, 239);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    color: black;
    font-size: 0.75rem;
    padding: 0.25em 0.5em;
    text-align: center;
    text-decoration: none;
    line-height: 1;
}

.simbrain_button:hover {
    background: rgb(255, 255, 255);
}

.simbrain_button:active {
    background: rgb(200, 200, 200);
}

.simbrain_button:visited {
    color: black;
}

.home_grid_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
}

kbd {
  display: inline-block;
  padding: 1px 4px;
  font-size: 0.9em;
  font-family: monospace;
  color: #fff;
  background-color: #317BAC;
  border: 0px solid #317BAC;
  border-radius: 4px;
}

.ul_nodots {
  list-style-type: none;
  padding: 0;  /* Removes default padding */
  margin: 0;   /* Removes default margin */
}

/*
 * Small devices.  
*/
@media only screen and (min-width: 10px) and (max-width: 750px) {
    h1 {
        line-height: 110%;
    }
    menutext {
        font-size: 200%;
        padding-left: 0;
    }
    .menu_grid {
        margin: 0 auto;
        width: 90%;
        padding: 10px;
    }
    .home_grid {
        max-width: 80%;    
        margin-right: auto;
        margin-left: auto;    
    }
    .home_grid_container {
        flex-direction: column;
        align-items: center;
    }

}

/*
 * Medium devices (tablets, etc.) and larger
 */
@media only screen and (min-width: 750px) {
    #banner {
        text-align: left;
    }
    h1 {
        font-size: 450%;
        line-height: 110%;
        /*padding: 1px;*/
    }   
    a, a:visited, a:active, a:hover {
        font-weight:normal;
    }
    menutext {
        padding-left: 0;
        font-size: 180%;
    }
    .menu_grid {
        width: 20%;
        margin-left: 2%;
        margin-right: 2%;
        float: left;
        padding-top: 8px;
        padding-bottom: 8px;      
    }
    .home_grid {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
        float: left;
        display: block;
    }

    .wrapper {
        width: 92%;
        margin: .75em auto;
    }
    /*img { max-width: 60%; }*/
    .menu-toggle {
        /*make menu float right, instead of sitting under the logo*/
        margin-top: 10px;
        /*this depends on the height of the logo*/
        float: right;
    }
}
/*
 * Tablets and Smaller laptops
 */
@media only screen and (min-width: 920px) {
    .wrapper {
        width: 90%;
        margin: .75em auto;
    }
    h1 {
        font-size: 400%;
        /*padding: 1px;*/
    }   
    menutext {
        font-size: 225%;
    }
    .menu_grid {
        width: 21%;
        margin-left: 1.9%;
        margin-right: 1.9%;
        float: left;
        padding-top: 8px;
        padding-bottom: 8px;    
    }
    #banner {
        min-width: unset;
        text-align: left;
        margin-bottom: 0;
    }
    header {
        padding: 0;
    }
    #content {
        float: left;
        width: 65%;
    }
    #content.wide-content {
        float: none;        
        width: 100%;
    }
    aside {
        float: right;
        width: 30%;
    }
    .home_grid {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
        float: left;
        display: block;
    }
    .home_grid_container {
        flex-direction: row;
    }
    .research_topic {
        flex-direction: row;
    }
    .research_topic:nth-child(even) {
        flex-direction: row-reverse;
    }
    .research_topic:nth-child(even) .jy_header {
        text-align: right;
    }
}

/*
 * Desktops
 */
@media only screen and (min-width: 1030px) {}

/*
 * Larger monitors and possibly full screen viewers.
 */
@media only screen and (min-width: 1240px) {}

/*
 * Retina and high resolutino devices
 * This applies to the retina iPhone (4s) and iPad (2,3) along with other displays with a 2x resolution.
 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {}

/*
iPHONE 5 MEDIA QUERY
iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {}

/*
PRINT STYLESHEET
*/
@media print {
    * {
        background:transparent !important;
        color:black !important;
        text-shadow:none !important;
        filter:none !important;
        -ms-filter:none !important;
    }
    /* Black prints faster: h5bp.com/s */
    a, a:visited {
        text-decoration:underline;
    }
    a[href]:after {
        content:" (" attr(href)")";
    }
    abbr[title]:after {
        content: " (" attr(title)")";
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    /* Don't show links for images, or javascript/internal links */
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    /* h5bp.com/t */
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}